badfile
*.d
*.o
.vscode
minishell
test

minishell
a.out
out
text
infile
ft_mallocator
malloc_test
stdin
addresses.tmp

.ignore_readline
.tmp
Testers
.nfs0000000002ed04cd00000045
.nfs0000000002ed063a00000092
a.sh
file